@import 'Styles/FileUploder.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#aboutPage section {
  margin-bottom: 20px;
}

#aboutPage ul,
#aboutPage ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#aboutPage li {
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  background-color: rgb(177, 177, 197);
  border: 1px solid rgb(55, 55, 97);
  grid-template-rows: auto;
  grid-template-columns: 100px 100px 200px 150px 300px;
}
.item{
  border: 1px solid red;
}
.item-1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 13;
  background-color: #ecb715;
  /* z-index: 1000; */

}
.item-2 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 5;
  grid-column-end: 5;
  background-color: #61dafb;
}
.item-3 {
  grid-row-start: 1;
  grid-column-start: 6;
  grid-row-end: 7;
  grid-column-end: 7;
  background-color: #c60808;
}
.item-4 {
  grid-row-start: 1;
  grid-column-start: 8;
  grid-row-end: 9;
  grid-column-end: 9;
  color: white;
  background-color: #2a00d0;
}
.item-5 {
  grid-row-start: 1;
  grid-column-start: 10;
  grid-row-end: 11;
  grid-column-end: 11;
  background-color: #950793;
}